/* Header Styling */
.wsu-header {
  color: white;
  padding: 10px 0;
}

.wsu-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.headertxt {
  font-size: xx-large;
  font-weight: bold;
  font-style: normal;
  font-family: serif;
}

.wsu-logo img {
  height: 50px;
}

/* Footer Styling */
.wsu-footer {
  color: white;
  padding: 15px 0;
  width: 100%;
  height: 10vh;
  text-align: center;
}

.wsu-footer-container {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.footer-logo img {
  height: 120px;
}
